# Python files and cache
*.pyc
__pycache__/

# Environment files
venv/
.env

#Database
/db/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log
logs/

# IDE files and directories
.vscode/
.idea/
*.swp

# OS-specific files
.DS_Store
Thumbs.db

# Build artifacts
build/
dist/
*.egg-info
